<script type="text/ng-template" id="newListForm.html">
    <div class="ListCreation">
        <form name="newList" action="" method="POST">
            <div class="FormRow" ng-if="list.errors.error == true">
                <div class="GlobalErrors" ng-repeat="message in list.errors.messages">
                    <label class="GlobalError">{[{ message }]}</label>
                </div>
            </div>
            <div class="FormRow">
                <input type="text" class="FormRow--field BasicField" ng-model="list.name" placeholder="List name">
                <input type="submit" class="BasicField BasicSubmitButton" ng-click="list.submit($event)">
            </div>
        </form>
    </div>
</script>