<script type="text/ng-template" id="listHandler.html">
    <div class="ListHandler">
        <div class="DirectiveWrapper" list-handler>
            <div class="ListingManager" ng-if="dom.lists == true">
                <div class="Sorting">
                    <p class="SortingTitle">Sort by</p>

                    <button class="Button" ng-click="listHandler.sort('name')">Name</button>
                    <button class="Button" ng-click="listHandler.sort('date')">Date created</button>
                </div>
            </div>

            <div class="TaskManager" ng-if="dom.tasks == true">
                <div class="Sorting">
                    <p class="SortingTitle">Sort by</p>

                    <button class="Button" ng-click="listHandler.sort('name')">Name</button>
                    <button class="Button" ng-click="listHandler.sort('date')">Date created</button>
                    <button class="Button  ButtonRight" ng-if="dom.tasks == true" ng-click="listHandler.sort('deadline')">Deadline</button>
                    <button class="Button  ButtonRight" ng-if="dom.tasks == true" ng-click="listHandler.sort('priority')">Priority</button>
                </div>

                <div class="">
                    <button class="Button" ng-click="listHandler.back($event)">Back to lists</button>
                </div>
            </div>

            <add-list ng-if="dom.lists == true"></add-list>
            <add-task ng-if="dom.tasks == true" list-id="{[{ listHandler.selectedListId }]}" prepopulated="{[{ directiveData.prepopulated }]}" task-item="{[{ directiveData.taskItem }]}"></add-task>

            <div class="Listing" ng-if="dom.lists == true">
                <list-row ng-repeat="item in directiveData.listing" list-item="item"></list-row>
            </div>

            <div class="Tasks" ng-if="dom.tasks == true">
                <task-row ng-repeat="item in directiveData.listing" task-item="item" list-id="{[{ listHandler.selectedListId }]}"></task-row>
            </div>
        </div>
    </div>
</script>