<script type="text/ng-template" id="listRow.html">
    <div class="RowWrapper">
        <div class="Row  ListRow">
            <a class="Expandable" ng-click="directiveData.taskList($event)">
                <span class="RowInfo">{[{ listItem.listname }]}</span>
                <span class="RowInfo">{[{ listItem.listcreated | dateParse }]}</span>
                <span class="RowInfo">Total tasks: {[{ listItem.total_tasks }]}</span>
                <span class="RowInfo">Pending tasks: {[{ listItem.unfinished }]}</span>
                <span class="RowInfo">Progress: {[{ listItem.completed }]}%</span>
            </a>
        </div>

        <button class="Button RemoveList" ng-click="directiveData.removeList($event)">RemoveList</button>
    </div>
</script>