<script type="text/ng-template" id="listRow.html">
    <div class="Row  ListRow">
        <a class="Expandable" ng-click="directiveData.taskList($event)">
            <span class="RowInfo">{[{ listItem.listname }]}</span>
            <span class="RowInfo">{[{ listItem.listcreated }]}</span>
            <span class="RowInfo">Finished tasks: 0</span>
            <span class="RowInfo">Pending tasks: 0</span>
        </a>
    </div>
</script>