<script type="text/ng-template" id="taskRow.html">
    <div class="Row  ListRow">
        <a class="Expandable">
            <span class="RowInfo"></span>
            <span class="RowInfo"></span>
            <span class="RowInfo"></span>
            <span class="RowInfo"></span>
        </a>
    </div>
</script>