<script type="text/ng-template" id="taskRow.html">
    <div class="Row  ListRow  FixedHeight">
        <a class="Expandable" ng-click="taskRow.expand($event)">
            <span class="RowInfo  TaskInfo">Task name: {[{ taskItem.tasktitle }]}</span>
        </a>

        <div class="ListInfo">
            <label>Task created: {[{ taskItem.taskcreated | dateParse }]}</label>
        </div>

        <div class="ListInfo">
            <label>Deadline: {[{ taskItem.deadline | dateParse }]}</label>
        </div>

        <div class="ListInfo">
            <label>Priority: {[{ taskItem.priority }]}</label>
        </div>

        <div class="ListInfo">
            <label>Status: {[{ taskItem.isfinished }]}</label>
        </div>

        <div class="ListInfo">
            <label>Days to complete: </label>
        </div>

        <div class="TaskManagment">
            <button class="Button" ng-click="taskRow.deleteTask($event)">Delete task</button>
            <button class="Button">Change task information</button>
        </div>
    </div>
</script>