.Managment {
  margin:100px 0 0 0;

  .ListingManager {
    width:100%;
    float:left;
    margin:0 0 25px 0;
    padding:10px;
  }

  .Sorting {
    width:30%;
    float:left;

    .SortingTitle {
      width:25%;
      float:left;

      color:white;
      font-size:1.2em;

      padding:5px;
    }
  }

  /* Generic button */
  .Button {
    display:inline-block;
    float:right;
    color:white;
    border:1px solid white;
    text-align: center;
    background-color: transparent;
    font-family: "Open Sans Condensed", sans-serif;
    font-size:1.2em;

    margin-right:2px;

    &:hover {
      cursor: pointer;
      background-color: $mainHoverColor;
    }
  }

  /* list creating from  */
  .ListCreation {
    width:100%;
    float:left;
    margin: 50px 0 50px 0;

    .BasicSubmitButton {
      margin-right:300px;
    }

    .TaskFormRow {
      width:50%;
    }

    .TaskFormField {
      width:100%;

      margin:10px;
    }

    .TaskLabel {
      display:block;
      width:100%;
    }

    .TaskSelect {
      display:block;
      width:100px;


    }

    .TaskSubmitButton {
      margin:0;
      float:right;
    }
  }

  /* todo listing */
  .ListHandler {
    width:100%;
    float:left;

    margin:50px 0 0 0;

    .Row {
      width:100%;
      float:left;

      margin-bottom:5px;

      border:1px solid white;
    }
  }
}

/*

Specific containers and directives like...

- list row
- task row

*/

.ListRow {

  .RowInfo {
    display:block;
    width:25%;
    float:left;
    z-index:-1;

    font-size:1.2em;
    text-align: center;
    color:white;
  }

  .Expandable {
    width:100%;
    float:left;
    padding:10px;

    &:hover {
      cursor: pointer;
      background-color: $mainHoverColor;
    }
  }
}