<div class="Header">
    <ul class="Navigation">
        <li class="List"><a href="" class="Link">HOME</a></li>
        <li class="List"><a href="{{ path("locastic_public_registration") }}" class="Link">REGISTER</a></li>
        <li class="List"><a href="{{ path("login") }}" class="Link">LOGIN</a></li>
    </ul>
</div>